CompileFlags:
  Add:
    - "-I/usr/include/qt6"
    - "-I/usr/include/qt6/QtCore"
    - "-I/usr/include/qt6/QtGui"
    - "-I/usr/include/qt6/QtQml"
    - "-I/usr/include/KF6"
    - "-I/usr/include/KF6/KI18n"
    - "-I/usr/include/Plasma"
    - "-I/usr/include/plasma"
    - "-I/usr/include/qt6/QtCore/6.11.2"
    - "-I/usr/include/qt6/QtCore/6.11.2/QtCore"
    - "-I/usr/include/qt6/QtGui/6.11.2"
    - "-I/usr/include/qt6/QtGui/6.11.2/QtGui"
    - "-I/usr/include/qt6/QtQml/6.11.2"
    - "-I/usr/include/qt6/QtQml/6.11.2/QtQml"
    - "-fPIC"
    - "-std=c++17"
    - "-DQT_QML_DEBUG"
    - "-DQT_CORE_LIB"
    - "-DQT_GUI_LIB"
    - "-DQT_QML_LIB"
